.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.banquet-hall {
  width: 360px;
  height: 180px;
  background-color: aqua;
  border: 1px solid black;
  margin-bottom: 5px;
}

.a-rooms {

}

.orient-center {
  text-align: center;
  vertical-align: middle;
}


.room-rectangle {
  background-color: lightblue;
  width: 240px;
  height: 120px;
  border: 1px solid black;
  margin-bottom: 5px;
}


.center-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
