<h1> Lodgings </h1>





<div class="a-rooms flex-column">

  <div class="banquet-hall orient-center">
    <div class="center-text"> BANQUET HALL </div>
  </div>

  <div class="room-rectangle orient-center">
    <div class="center-text"> A4 </div>
  </div>

  <div class="room-rectangle orient-center">
    <div class="center-text"> A3 </div>
  </div>

  <div class="room-rectangle orient-center">
    <div class="center-text"> A2 </div>
  </div>

  <div class="room-rectangle orient-center">
    <div class="center-text"> A1 </div>
  </div>

</div>
